<header>
  <!-- Nav Bar -->
{% assign link = site.baseurl | append: '/backmatter/table.html' %}
{% assign image = site.baseurl | append: '/img/head_outside.jpg' %}
{% assign title = site.title | default: 'The Visionary Cross Project' %}

{{ '
<header class="header">
  <a href="' | append: link | append: '">
    <img src="' | append: image | append: '" alt="Project Image" title="' | append: title | append: '">
    <p class="header-text">' | append: title | append: '</p>
  </a>
</header>
