<body>  
    <!-- Main Container for Left and Right Columns -->
    <div class="container">
        <!-- Left Column always an image of some sort -->
        <div class="left">       
            <!--https://www.flickr.com/photos/71629876@N08/7096195421/-->
            <img src="assests/img/d_and_r.jpg" alt="Project Image">
        </div>
        <p></p>

        <!-- Right Column always information -->
        <div class="right">
            <!-- Project Information Section -->
            <div class="info">
                <h1>Preface</h1>
<p>Visionary Cross: a multimedia edition and archive is a critical edition, scholarly study, and textual archive of the Old English Visionary Cross Tradition. The Visionary Cross project is an international, multidisciplinary research project whose principle objective is the development of a new kind of digital archive and edition of texts and objects associated with the Visionary Cross tradition in Anglo-Saxon England.</p>

<p>ISTI-CNR collaborated with the partners of the project in two main activities: the acquisition and processing of the 3D representation of two important stone crosses (Ruthwell and Bewcastle), and the creation of a web accessible "digital edition" of the Cross, available to both the genarl public and the scholars.</p>
            </div>
        </div>
    </div>
<p></p>    
</body>
